*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;	
}
html, body {
}
/*body {
  overflow-y: hidden;
}
body::-webkit-scrollbar {
  display: none;
}*/
#test {
	background-color: blue;
	opacity: 0.3;
	position: absolute;
	width: 1150px;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 3;
	display: none;
}
.clear-both:after {
	content: "";
	clear: both;
	display: table;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
ul {
	list-style-type: none;
}
li {
	display: inline-block;
}
button {
	outline: none;
    border: 0;
    /*border-radius: 8px;*/
    background-color: transparent;
}
header {
	position: relative;
	width: 100%;
	height: 180px;
	z-index: 2;	
}

#nav-aside, #nav-bar-wrap {
	width: 1150px;
    position: relative;   
    margin-bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
}
#nav-aside {
	padding-top: 50px;
    margin-bottom: 16px;
}
#nav-bar-wrap  {
	height: 80px;
}
#logo {
    background-image: url(../img/bianchi_store_logo.png);
    width: 150px;
    background-size: 100%;
    height: 50px;
    background-repeat: no-repeat;
    background-position: top;
}
#nav-aside-element, #nav-bar {
	position: relative;
	width: 55%;
	height: 100%;	
}
#nav-aside-icon-wrap {
	position: relative;
	width: 485px;
	left: 50%;
	transform: translateX(-50%);
}
.icon {
	font-size: 23px;
	margin: 0 11px;
	cursor: pointer;
	transition: 0.3s ease;
}
.icon:nth-child(1) {
	margin-left: 0;
	position: relative;
}
.icon:nth-child(1)>input {
	position: absolute;
    right: -2px;
    top: 3px;
    /*z-index: -1;*/
    border: 0;
    height: 30px;    
    /* border-radius: 15px; */
    outline: none;
    width: 30px;
    background-color: transparent;
    transition: 0.3s ease;
}
.icon:nth-child(1)>input:focus {
	width: 170px;
	border-bottom: 2px solid #55b7b3;	
}
input::-webkit-input-placeholder {
	color: transparent;
	padding: 0 5px;
}
input:focus:-moz-placeholder {
	color: #55b7b3;	
}
input:focus::-webkit-input-placeholder {
	color: #55b7b3;		
}
input[type=text]::-ms-clear {
   display: none;
   width: 0;
   height: 0;
}
input[type=text]::-ms-reveal {
   display: none;
   width: 0;
   height: 0;
}
.icon:nth-child(3) {
	margin-right: 0;
}
.icon:hover {
	color:  #55b7b3;
}
#lang {
	position: relative;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	background-color:  #55b7b3;
	color: #fff;
	line-height: 30px;
}
#lang span {
	position: relative;
   top: -3px;
    left: 8px;
    font-size: 16px;  
    letter-spacing: -1px;
}

#nav-bar-element-wrap{	
	position: relative;
	left: 48%;
	transform: translateX(-50%);		
	width: 530px;
	height: 100%;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
#nav-bar-element-wrap>ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 525px;
    font-weight: 600;
    font-size: 15px;
}
#nav-bar-element-wrap>ul>li {
	padding: 0 25px;
}
#nav-bar-element-wrap>ul>li:nth-child(1) {
	padding-left: 0;
	color: #55b7b3;
}
#nav-bar-element-wrap>ul>li:nth-child(6) {
	padding-right: 0;
}
section {
	position: relative;
	width: 100%;
}
.contents {
	position: relative;
	height: 100%;
	width: 1150px;
	left: 50%;
	transform: translateX(-50%);
}
#main-swiper-area {
	position: absolute;
	top: 0;
	height: 830px;
	background-color: #55b7b3;
}
#main-swiper-area>.contents, #main-swiper {
    width: 100%;
    height: 100%;
}
.main-img-box {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 55%;
	height: 100%;
	background-color: #fff;
	z-index: -1;
}
.main-img {
	position: absolute;
    bottom: 0;
    left: 42%;   
    width: 100%;
    height: 100%;   
    background-repeat: no-repeat;   
}
#mian-img-1,#mian-img-3 {
	background-size: 870px auto;
    background-position: 0 220px;
	background-image: url("../img/main-img-1.png");
}
#mian-img-2 {
	background-size: 810px auto; 
    background-position: 0 220px;
	background-image: url("../img/main-img-2.png");
}
.main-text-area {
	position: absolute;	    
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 610px;
    width: 1150px;	
	color: #fff;
}
.main-text-wrap {
	position: relative;
	top: 100px;
	width: 380px;
	height: 300px;
}
.main-text-wrap h1 {
	font-size: 52px;
	padding-bottom: 10px;
}
.main-text-wrap h3 {
    line-height: 80px;
}
.main-button {	
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 140px;  
    font-weight: 600;
    border: 2px solid #ffff;
}
.main-line {
	position: absolute;
	width: 50%;
	height: 3px;
	background-color: #000;
}

/*====swiper custom====*/
.swiper-slide {
	overflow: hidden;
}
.swiper-pagination-bullet {
	width: 50px;
	height: 3px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	/*color: #000;*/
	opacity: 0.8;
	background:  #f6f6f6;
	border-radius: 0;	
}
.swiper-pagination-bullet-active {
	background: #000;
}
#main-swiper-pagination {
	bottom: 40px;
    left: 385px;
    width: 174px;
}
/*=====================*/

#intro {
	height: 600px;
	background-color: #f6f6f6;
}
#intro-wrap {   
    height: 60%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#intro-wrap>div:nth-child(1) {
	text-align: right;
}
#intro-wrap>div:not(#intro-img) {
	width: 33.33%;
	height: 100%;
}
#intro-img {	
    position: relative;
    top: 50%;  
    transform: translateY(-50%);
    background-image: url("../img/intro-img.png");
    background-size: 100%;
    background-repeat: no-repeat;
		width: 33.33%;
	height:100%;	
	background-position: center;
}
.intro-descript {
	float: left;
	position: relative;
    width: 100%;
    height: 50%;
}
.intro-descript p {
	font-size: 15px;
    padding-top: 10px;
    color: #777;
}
.num {
	position: relative;
    width: 17%;      
    font-size: 50px;   
    font-weight: 700;
    color: rgba(21, 21, 21, 0.2);
}
.intro-descript>span:nth-child(2) {
  position: relative;
    width: 83%;
    height: 77%;
    top: 20px;    
}
.intro-descript:nth-child(1)>span:nth-child(2) {
	border-bottom: 1px solid #ddd;

}
#intro-descript-left>.intro-descript>span:nth-child(2) {
	padding-right: 5%
}

#intro-descript-right>.intro-descript>span:nth-child(2) {
	padding-left: 5%;
}
#product {
	height: 1100px;
}
#product-wrap {
	position: relative;	
	height: 80%;	
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}
#product-wrap h1 {
	font-size: 60px;
	position: relative;
	height: 12.5%;	
}
#product-list-wrap {
	position: relative;
	height: 82.5%;
}
.product-list {
	position: relative;
	height: 49%;
	width: 100%;
}
.product-box {
	position: relative;
    width: 24%;
    height: 100%;
    /*border: 1px solid #ddd;*/
    margin: 0.5%;
    border-radius: 10px;
	background-color: #f6f6f6; 
	padding: 20px;  
	
}
.event {
	position: absolute;
    right: 20px;
    width: 40px;
    height: 25px;
    background: #ffeb79;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 25px;
}
.product-img {
	position: relative;	
	left: 50%;
	transform: translateX(-50%);
	width: 200px;
	height: 200px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px 0;
}
#product-img-1 {
	background-image: url("../img/product-img-1.png");
}
#product-img-2 {
	background-image: url("../img/product-img-2.png");
}
#product-img-3 {
	background-image: url("../img/product-img-3.png");
	    background-size: 100% auto;
}
#product-img-4 {
	background-image: url("../img/product-img-4.png");
}
#product-img-5 {
	background-image: url("../img/product-img-5.png");
	    background-size: 100% auto;
}
#product-img-6 {
	background-image: url("../img/product-img-6.png");
	    background-size: 100% auto;
}
#product-img-7 {
	background-image: url("../img/product-img-7.png");
}
#product-img-8 {
	background-image: url("../img/product-img-8.png");
}
.product-name {
	position: relative;
    width: 250px;
    height: 300px;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    text-align: center;
}
.product-name h4 {
	line-height: 40px;
}
.product-name span {
	font-size: 15px;
}
.product-name>span>span:nth-child(2) {
	padding-left: 10px;
    font-weight: 600;
    color: #55b7b3;
}
.price {
	text-decoration: line-through;
	color: #777;
}
#news {
	height: 350px;
	background-color: #55b7b3;
}

#survice {
	height: 400px;
}
