* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*부트스트랩 수정*/
a:link,a:visited,a:hover,a:active,a:focus,
.btn.focus, .btn:focus, .btn:hover  {
    text-decoration: none;
    color: #9A9A9A;
}
p {
    margin: 0;
}
.btn {
    width: 100%;
    height: 100%;
    text-align: left;
    touch-action: none;
    padding: 0;
    border: 0;
    display: block;
}
.btn:focus {
    outline: none;
    box-shadow: none;
}
.dropdown-menu {
    left: unset;
    padding: 0;
    margin: 0;
}
/***************/

#header {
    position: relative;
    width: 100%;
    height: 100%;
    clear: both;
}
#side_bar {
    position: fixed;
    width: 270px;
    height: 100%;
    background: #313a46;
    float: left;
    z-index: 99;
}
#logo, #menu_list_01_group {
    position: relative;
}
#logo {
    height: 100px;
    width: 100%;
}
.menu_list_01_group, .menu_list_02_group {
    list-style-type: none;
}
.menu_list_01_group {
    width: 100%;
    height: 90%;
    padding: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: scroll;
}
.menu_list_01_group::-webkit-scrollbar { width: 5px; }
.menu_list_01_group::-webkit-scrollbar-track { background-color:#313a46; }
.menu_list_01_group::-webkit-scrollbar-thumb { background: #a0acb9; border-radius: 10px; }
.menu_list_01_group::-webkit-scrollbar-button { display: none; }

.menu_list_01 {
    color: #a0acb9;
    padding: 10px 0;
    font-size: 14px;
}
.menu_list_01 li {
    transition: 0.3s ease;
}
.menu_list_01 li:hover {
    color: #cedce4;
}
.menu_button {
    position: relative;
    left: 0;
    border: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    transition: 0.3s ease;
}
.menu_button.active {
    color: #fff;
}
.menu_icon {
    float: left;
    padding: 9px 10px 0 0;
}
.dripicons-chevron-right {
    transition: 0.3s ease;
}
.dripicons-chevron-right.active {
    transform: rotate(90deg) translate(-50%);
}
.menu_list_02_group {
    display: none;
}
.menu_list_02_group li {
    padding: 15px 0 0 24px;
    cursor: pointer;
}
span[class*=chevron] {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
/*nav*/
nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background: #fff;
    z-index: 98;
    box-shadow: 0 0 20px #ccc;
    padding-left: 270px;
}
#bar_wrap {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 30px;
    width: 100%;
    height: 40px;
    clear: both;
}
.search {
    position: relative;
    background: #f1f3fa;
    width: 330px;
    height: 100%;
    border-radius: 5px;
    float: left;
}
.search_icon {
    /*display: block;*/
    font-weight: 800;
    padding:0 10px;
    margin-top: 10px;
    font-size: 14px;
    color: rgba(0,0,0,0.5);
}
.search input, .search button {
    border: none;
    outline: none;
    height: 100%;
}
.search input {
    border: 0;
    height: 100%;
    width: 230px;
    background: #f1f3fa;
    font-size: 15px;
}
.search button {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    text-transform: capitalize;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #4e5bf2;
    color: #fff;
    opacity: 0.8;
    transition: 0.3s ease;
    cursor: pointer;
    font-size: 15px;
}
.search button:hover  {
    opacity: 1;
}

/*dropdown*/
.dropdown_group {
    position: relative;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%;
    float: right;
}
.dropdown_group>li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    padding-right: 30px;
    padding-top: 10px;
    cursor: pointer;
}
.dropdown_group>li:first-child {
    width: 125px;
    font-size: 15px;
    text-transform: capitalize;
    color: #9A9A9A;
    padding: 0;
    margin-right: 30px;
    float: left;
}
.dropdown_custom {
    position: absolute;
    top: 55px;
    right: 10px;
    width: 160px;
    background: #fff;
    border: 1px solid #ccc;
    display: none;
}
.dropdown_btn.open .dropdown_custom {
    display: block;
    animation: move_dropdown_list 1s;
}
@keyframes move_dropdown_list {
    0% {
        top: 85px;
    }
    100% {
        top: 55px
    }
}
.dropdown_custom li {
    list-style-type: none;
    display: block;
    clear: both;
    /*display: none;*/
}
/*lang*/
.lang p {
    line-height: 40px;
}
.lang_list {
    width: 160px;
}
.flag_icon {
    float: left;
    width: 55px;
}
.flag_icon img {
    transform: scale(0.3);
}
.hd_icon {
    position: relative;
    color: #9A9A9A;
    font-size: 22px;
}
/*notice*/
.dripicons-bell:after {
    content: "";
    position: absolute;
    top: -4px;
    right: -3px;
    width: 7px;
    height: 7px;
    background: #d01d33;
    border-radius: 50%;
}
.notice_list_wrap {
    /*display: none;*/
    padding: 5px 0;
    width: 320px;
    height: 320px;
}
.notice_list_top,.notice_list_bottom {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    text-transform: capitalize;
}
.notice_list_top p {
    float: left;
}
.notice_list_top small {
    float: right;
}
.notice_list {
    width: 100%;
    height: 230px;
    overflow-y: scroll;
    padding:  0 15px;
}
.notice_list::-webkit-scrollbar { width: 5px; }
.notice_list::-webkit-scrollbar-track { background-color:transparent; }
.notice_list::-webkit-scrollbar-thumb { background: #ccc; border-radius: 10px; }
.notice_list::-webkit-scrollbar-button { display: none; }

.notice_list li {
    padding: 10px 0;
    position: relative;
}
.notice_list_bottom {
    text-align: center;
}
.notice_list_thumb {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #ccc;
    float: left;
}
.notice_list_text {
    padding-left: 50px;
}
.notice_list_text p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.profile {
    width: 170px;
    height: 22px;
}
.profile:after {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 100%;
    height: 70px;
    border-left: 1px solid #e4e6ed;
    border-right: 1px solid #e4e6ed;
    background: #f1f3fa;
    z-index: -1;
}
.profile_wrap {
    position: absolute;
    width: 75%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    clear: both;
}
.profile_img, .profile_text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
}
.profile_img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ccc;
    margin-right: 20px;
}
.profile_text {
    font-size: 14px;
    color: #9A9A9A;
}
.profile_list_wrap {
    padding: 5px 0 ;
}
.profile_list li {
    position: relative;
    padding: 5px 0 5px 20px;
    font-size: 13px;
    height: 25px;
}
.profile_list li i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #9A9A9A;
}
.profile_list li p {
    padding-left: 25px;
}
.profile_list_wrap.dropdown_custom {
    top: 45px;
    right: 0;
    width: 170px;
    overflow: hidden;
}
.dropdown_btn.open .profile_list_wrap.dropdown_custom {
    display: block;
    animation: move_profile_dropdown_list 1s;
}
@keyframes move_profile_dropdown_list {
    0% {
        top: 75px;
    }
    100% {
        top: 45px
    }
}
.list_hover {
    overflow-x: hidden;
}
.list_hover li {
    position: relative;
}
.list_hover li:after {
    content: "";
    position: absolute;
    top: 0;
    left: -15px;
    width: 120%;
    height: 100%;
    background: #ffff;
    transition: 0.3s ease;
    z-index: -1;
}
.list_hover li:hover:after {
    background: #f1f3fa;
}





