@font-face {
  font-family: pado;
  src: url(../font/pado.ttf);
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	backface-visibility: hidden;
	font-family: 'Nanum Gothic', sans-serif;
}
html, body {
	/*height: 100%;		*/
}
body::-webkit-scrollbar {
  display: none;
}

.clear-both:after {
	content: "";
	clear: both;
	display: table;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
button {
	outline: none;
	border: none;
	background-color: transparent;
}
#logo {
    position: absolute;
    top: 20px;
    left: 20px;
    background-image: url(../img/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 160px;
    height: 50px;
    z-index: 1;
}
#lang {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 1;
	text-align: center;
}
#lang>button {
	color: #fff;
}
nav {
	position: fixed;
	right: 10px;
	top: 50%;
	text-align: center;
	z-index: 1;
}
ul {
	list-style-type: none;
}
ul>li {
	cursor: pointer;
	color: #000;
}
#ticket-wrap {
    position: fixed;
    left: -300px;
    top: 35%;
    width: 750px;
    height: 295px;
	transform: translateX(-50%);
    z-index: 1;
    cursor: pointer;
}
#ticket-close {
	font-size: 25px;
	position: absolute;
	top: -10px;
	right: -10px;
	color: #fff;
	display: none;
}
#ticket {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background: url(../svg/ticket.svg) no-repeat;
  background-size: 100%;
  width: 700px;
  height: 100%;
  transform: translateX(-50%);
}

#to-top {
	color: #fff;
	cursor: pointer;
}
#main {
	position: relative;
	width: 100%;
  overflow-y: scroll;
}
#main::-webkit-scrollbar {
	display: none;
}
#main>section {
	position: relative;
	width: 100%;
}
#main>section>div(not:.wave-wrap) {
	position: relative;
	height: 100%;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
  overflow: hidden;
}

#main-title {
	background-size: cover;
	background-color:#3e9ffb;
  background-image: linear-gradient(to top, #fff 50px, #63abea 0%, #73eef5 100%);
  /*background-image: linear-gradient(to top, #fff 50px, transparent 50px);*/
   /*url("../img/back-01.jpg")*/
 }
.contents {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: auto;
  transform: translate(-50%,-50%);
  padding: 5% 10%;
  z-index: 1;

}
#main-title>div>.contents {
  width: 50%;
  height: 50%;
}
#title>span {
	font-size: 3.5vw;
  font-family: 'pado';
  color: #fff;
  font-weight: 500;
  letter-spacing: 5px;
  transition: 0.6s ease;
  opacity: 0;
  position: relative;
  top: 20px;
}
#main-title>div>.contents>div:nth-child(2) {
  position: relative;
  top: 20%;
}
#scroll {
  color: #fff;
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 13px;
}
#scroll:after {
    content: "";
    position: absolute;
    top: 375%;
    left: -6px;
    height: 1.4px;
    width: 60px;
    background-color: #fff;
    transform: rotate(90deg);
}
#scroll:before {
    content: "";
    position: absolute;
    top: 135%;
    left: 19px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #fff;
    animation: move 2s cubic-bezier(0.350, -0.240, 0.525, 1.250) infinite;
    opacity: 0;
}
@keyframes move {
  0%, 10% {
    opacity: 0;
    top: 135%;
  } 

  50% {
    opacity: 1; 

  }
  90%, 100% {
    opacity: 0;
    top: 540%;
  }
}
.title-bubbles {
display: inline-block;
position: relative;
}

.individual-bubble {
position: absolute;
border-radius: 100%;
bottom: 10px;
background-color: #fff;
z-index: 1;
}


#view-2-1, #view-3, #view-2 {
	/*background-image: url("../img/back-01.jpg");*/
  /*background: linear-gradient(to top, #3e9ffb, #fff 85%);*/
  background-color: #fff;
}
#food {
  /*background-color: #3e9ffb;*/
  background-image: linear-gradient(to bottom, #63abea 0%, #73eef5 200%);
}
.info {
  width: 500px;
  position: relative;
  top: 30px;
  height: 700px;
}
.num {
  height: 10%;
}
.title-area {
  position: relative;
  height: 20%;
  color: #fff;
  /*background-color: #fff;*/
} 
.title-area>span {
  position: absolute;
  background-color: #63abea;
  transition: 0.8s cubic-bezier(0.350, -0.240, 0.000, 1.000);
  width: 400px;
  height: 0;
  bottom: 60px;
  overflow: hidden;
}
.title-area>span:nth-child(2) {
  bottom: 0px;
  right: 0;
}
.title-area>span>p {
  /*font-family: 'pado';*/
  position: absolute;
  width: 100%;
  height: 0;
  font-size: 50px;
  opacity: 0;
  transition: 0.8s cubic-bezier(0.350, -0.240, 0.000, 1.000);
  top: 60px;
}

.text-area {
  position: relative;
  padding-top: 20%;
  height: 40%;
}

.button-area {
  position: relative;
    margin-top: 10%;
    height: 50px;
    cursor: pointer;
    width: 150px;
}
.button-circle {
  position: absolute;  
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: #63abea;
  /*background-image: linear-gradient(-90deg, #63abea 0%, #73eef5 100%);*/
  transition: 0.6s;
  
}
.button-area:hover .button-circle {
  transform: scale(2.15);

}
.button-text {
  position: relative;
  z-index: 1;
  top: 15px;
  left: 55px;
  
}
.button-text:before {
  position: absolute;
  content: "Learn";
  overflow: hidden;
  color: #fff;
  width: 0px;
  transition: 0.6s;

}
.button-area:hover .button-text:before {
  width: 17px;
}
.image-area {
  width: 490px;
  height: 100%;
  position: relative;
  /*display: none;*/
}
.image-area>div:nth-child(1) {
   position: absolute;
   width: 105%;
   height: 100%;
   background: #f2f2f2;
   right: -100px;
   top: -100px;
  transform: scale(0.8);
  transition: 0.6s;

}
.null-box {
  width: 95%;
  height: 0;
  left: 0;
  background: gold;
  transition: 0.6s;
  position: absolute;
  bottom: 0;
  transition: 0.3s;  
}
#view-2 .image-area {
    width: 450px;
    height: 50%;
}
#view-3 .image-area {
    height: 60%;
    width: 520px;
}
/*.info>div:nth-child(3)>h3 {
  color: #047cc1;
  font-size: 30px;
}
#map {
  position: absolute;  
  background: url(../svg/map.svg) no-repeat;
  background-size: 740px auto;
  width: 750px;
  height: 590px;
  background-color: #f2f2f2;
}
#map>div {
	position: absolute;
}
#marker-1 {
  top: 50px;
  left: 560px;
}
#marker-2 {
  top: 280px;
  left: 570px;
}
#marker-3 {
  top: 520px;
  left: 350px
}
.marker-box {
  width: 100px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
}
.point {
  width: 30px;
  height: 30px;
  background-color: blue;
  border-radius: 50%;
}*/

/*====shape=====*/
/*.shape-wrap {
  text-align: justify;
  padding: 1em;
  line-height: 35px;
}
.left {
  shape-outside: polygon(0% 0%, 28.54% 0%, 42.07% 9%, 53.7% 17%, 55% 26.91%, 50% 37.23%, 37.79% 46%, 31.66% 53.62%, 27.51% 60.41%, 25.89% 68.33%, 25.20% 74.92%, 21.33% 80.8%, 12.8% 86.31%, 3.93% 92.6%, 0% 100%);
  width: 40%;
  height: 50em;
}

.right {
  shape-outside: polygon(100% 0%, 5% 0%, 21.54% 5.74%, 28.34% 12.03%, 31.51% 17.61%, 33.6% 23.43%, 33.55% 28.66%, 30.64% 34.46%, 25.47% 39.77%, 18.55% 45.03%, 12.27% 50.82%, 9.44% 56.44%, 11.43% 61.36%, 21.16% 68.88%, 31.08% 72.73%, 42.77% 76.14%, 72.1% 82.93%, 83.62% 86.6%, 92.83% 91.02%, 100% 100%);
  width: 40%;
  height: 50em;
}*/

/*=====wave=====*/

.wave-wrap { 
  /*height: 5%;*/
  width:100%;
  position: absolute;
  bottom:0;
  left:0;
}
.wave {
  background: url(../svg/wave.svg) repeat-x; 
  position: absolute;
  top: -200px;
  width: 6400px;
  height: 200px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);

}

.wave:nth-of-type(2) {
  top: -210px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}
.wave-svg {
  position: absolute;
  bottom: 0;
  width: 140%;
  height: 220px;
}
.wave-svg>svg {
  position: absolute;
  bottom: 0;

}
.wave-svg>svg>path, .wave-side-svg>svg>path  {
  fill: #63abea;
}
#view-2>.wave-svg {
  right: 0;
}
#view-2>.wave-svg>svg>path {
  fill: #fff;
}
.wave-side-svg {  
  opacity: 0.5;
  position: absolute;
  left: -15%;
  bottom: -40%;
  width: 65%;
  height: 100%;
  z-index: 1; 
 background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 1046.022 695.777' %3E%3Cpath fill='%2363abea' d='M1044.333,421.294c-5.401-44.685-22.715-86.533-54.46-122.466c-12.473-14.118-27.518-27.862-43.308-38.223 c-38.34-25.155-83.616-41.812-128.118-52.09c-25.322-5.849-51.286-9.484-77.147-11.948c-84.089-8.012-168.21-7.981-252.449-12.348 c-23.021-1.193-46.013-3.496-68.668-7.829c-25.826-4.938-51.278-11.924-75.84-21.337c-20.667-7.921-40.729-17.324-59.901-28.395 C214.799,86.444,158.708,25.573,80.791,0c-3.779,1.883-7.252,4.002-10.244,6.287c-31.73,24.228-43.849,74.057-52.938,110.795 C-7.18,217.281-0.344,324.156,5.629,426.214c2.132,36.429,2.407,72.977,8.707,109.03c2.837,16.234,3.637,37.676,16.347,49.875 c11.272,10.818,27.994,9.114,42.351,8.187c50.08-3.238,101.963,1.874,151.811,6.754c51.055,4.998,101.87,12.729,151.944,23.919 c115.616,25.838,230.234,72.088,350.171,71.798c34.314-0.084,68.331-3.754,101.489-12.849 c73.773-20.234,164.958-60.721,196.986-135.744C1042.499,507.213,1049.558,464.514,1044.333,421.294z'/%3E%3C/svg%3E%0A");
 background-repeat: no-repeat;
  background-size: 100%;
  animation: side-swell 4s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite

}
.wave-side-svg:nth-child(2) {
  opacity: 1;
  left: -14.5%;
  width: 64.5%;
  animation: side-swell 4s ease -1.25s infinite;
}

@keyframes side-swell {
  0%, 100% {
    transform: translate3d(-25px,-5px,0);
  }
  50% {
    transform: translate3d(5px, -5px,0);
  }
}
#fish {
  background-image: url(../svg/fish.svg);
  background-size: 100%;
  width: 20%;
  height: 100%;
  bottom: -66%;
  left: 20%;
  position: absolute;
  background-repeat: no-repeat;
  z-index: 2;
  animation: fish-swell 5s ease infinite;
}
@keyframes fish-swell {
  0%, 100% {
    transform: translate3d(-5px,-10px,0);
  }
  50% {
    transform: translate3d(-5px, 5px,0);
  }
}


/*=====swiper=====*/
.swiper-container {
 /*   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);*/
    height: 100%;
    width: 100%;
}
.swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;

}

/*#tab-button {
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  cursor: pointer;  
  left: 50%;
  transform: translateX(-50%);
}
#tab-button>li {
  padding: 0px 15px;
  display: inline;
}
#pic-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 1200px;
  height: 670px;
  background-color: #fff;
    display: none;
}
#display {
  background-color: gray;
  width: 70%;
  height: 100%;

}
#side {
  width: 30%;
  height: 100%;
  padding: 0 10%;
}
.thumb {
  width: 100px;
  height: 50px;
  background-color: #f2f2f2;
}
#video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;

}*/
#box-wrap {
    height: 85%;
    /* width: 100%; */
    position: relative;
    /* text-align: center; */
    left: 50%;
    transform: translate(-50%);
    top: 5%;
  
}
.box {
  margin: 0 2px;
  position: relative;
  width: 380px;
  height: 540px;
  background-color: #fff;
  top: 20px;
  opacity: 0;
  transition: 0.6s;
}
.food-thumb {
  width: 100%;
  height: 300px;
  background-color: #f2f2f2;
}
#preloader {
  position: fixed;
  z-index: 2;
}
#food-text-wrap {
  position: relative;
  height: 15%;
}
#food-text-wrap h1 {
  font-size: 50px;
  opacity: 0;

}
#food-text-wrap p {
  font-size: 20px;
  padding-top: 20px;

}
#food-text-wrap>span {
  position: absolute;
  width: 300px;
  height: 0px;
  background-color: #fff;  
  bottom: 36px; 
  z-index: 2;
}