@font-face {
  font-family: pado;
  src: url(../font/pado.ttf);
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	backface-visibility: hidden;
	font-family: 'Nanum Gothic', sans-serif;
}
html, body {
	/*height: 100%;		*/
}
body::-webkit-scrollbar {
  display: none;
}

.clear-both:after {
	content: "";
	clear: both;
	display: table;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
button {
	outline: none;
	border: none;
	background-color: transparent;
}
#logo {
    position: absolute;
    top: 20px;
    left: 20px;
    background-image: url(../img/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 160px;
    height: 50px;
    z-index: 1;
}
#lang {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 1;
	text-align: center;
}
#lang>button {
	color: #fff;
}
nav {
	position: fixed;
	right: 10px;
	top: 50%;
	text-align: center;
	z-index: 1;
}
ul {
	list-style-type: none;
}
ul>li {
	cursor: pointer;
	color: #000;
}
#ticket-wrap {
    position: fixed;
    left: -300px;
    top: 35%;
    width: 750px;
    height: 295px;
	transform: translateX(-50%);
    z-index: 1;
    cursor: pointer;
}
#ticket-close {
	font-size: 25px;
	position: absolute;
	top: -10px;
	right: -10px;
	color: #fff;
	display: none;
}
#ticket {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background: url(../svg/ticket.svg) no-repeat;
    background-size: 100%;
    width: 700px;
    height: 100%;
    transform: translateX(-50%);
}

#to-top {
	color: #fff;
	cursor: pointer;
}
#wrap {
	position: relative;
	width: 100%;
  overflow-y: scroll;
}
#wrap::-webkit-scrollbar {
	display: none;
}
#wrap>div {
	position: relative;
	width: 100%;
}
#wrap>div>div(not:.wave-wrap) {
	position: relative;
	height: 100%;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#main {
	background-size: cover;
	background-color: #3e9ffb;
  background-image: linear-gradient(to top, #fff 50px, transparent 50px)
   /*url("../img/back-01.jpg")*/
}
.contents {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: auto;
  transform: translate(-50%,-50%);

}
#main>div>.contents {
  width: 50%;
  height: 30%;
}
#title>h2 {
	font-size: 5vw;
  font-family: 'pado';
  color: #fff;
  font-weight: 500;
  letter-spacing: 5vw;
  transition: 0.6s ease;
}
#intro {
	/*background-image: url("../img/back-01.jpg");*/
  background: linear-gradient(to top, #3e9ffb, #fff 90%);
}
#info {
  width: 500px;
  position: absolute;
  top: 30%;
  right: 0;
}

#map {
  position: absolute;
  top: 0;
  /* transform: translateX(-50%); */
  background: url(../svg/map.svg) no-repeat;
  background-size: 740px auto;
  width: 750px;
  height: 590px;
}
#map>div {
	position: fixed;
	width: 30px;
	height: 30px;
	background-color: blue;
	border-radius: 50%;
}
#map>div:nth-child(1) {
  top: 100px;
  left: 560px;
}
#map>div:nth-child(2) {
  top: 330px;
  left: 570px;
}
#map>div:nth-child(3) {
   top: 570px;
  left: 350px;
}

/*=====wave=====*/
.wave-wrap { 
  /*height: 5%;*/
  width:100%;
  position: absolute;
  bottom:0;
  left:0;
}
.wave {
  background: url(../svg/wave.svg) repeat-x; 
  position: absolute;
  top: -200px;
  width: 6400px;
  height: 200px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -210px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}



