/*view-1-swiper*/
#view-1-swiper>div>.swiper-slide:nth-child(1) {
	background-image: url("../img/ocean18_01.jpg");
}
#view-1-swiper>div>.swiper-slide:nth-child(2) {
	background-image: url("../img/ocean18_02.jpg");
}
#view-1-swiper>div>.swiper-slide:nth-child(3) {
	background-image: url("../img/ocean18_03.jpg");
}
#view-1-swiper>div>.swiper-slide:nth-child(4) {
	background-image: url("../img/ocean18_04.jpg");
}
#view-1-swiper>div>.swiper-slide:nth-child(5) {
	background-image: url("../img/ocean18_05.jpg");
}
#view-1-swiper>div>.swiper-slide:nth-child(6) {
	background-image: url("../img/ocean18_06.jpg");
}
#view-1-swiper>div>.swiper-slide:nth-child(7) {
	background-image: url("../img/ocean18_07.jpg");
}
/*view-2-swiper*/
#view-2-swiper>div>.swiper-slide:nth-child(1) {
	background-image: url("../img/ocean19_01.jpg");
}
#view-2-swiper>div>.swiper-slide:nth-child(2) {
	background-image: url("../img/ocean19_02.jpg");
}
#view-2-swiper>div>.swiper-slide:nth-child(3) {
	background-image: url("../img/ocean19_03.jpg");
}
#view-2-swiper>div>.swiper-slide:nth-child(4) {
	background-image: url("../img/ocean19_04.jpg");
}
#view-2-swiper>div>.swiper-slide:nth-child(5) {
	background-image: url("../img/ocean19_05.jpg");
}
#view-2-swiper>div>.swiper-slide:nth-child(6) {
	background-image: url("../img/ocean19_06.jpg");
}
/*view-3-swiper*/
#view-3-swiper>div>.swiper-slide:nth-child(1) {
	background-image: url("../img/ocean20_01.jpg");
}
#view-3-swiper>div>.swiper-slide:nth-child(2) {
	background-image: url("../img/ocean20_02.jpg");
}
#view-3-swiper>div>.swiper-slide:nth-child(3) {
	background-image: url("../img/ocean20_03.jpg");
}
#view-3-swiper>div>.swiper-slide:nth-child(4) {
	background-image: url("../img/ocean20_04.jpg");
}
#view-3-swiper>div>.swiper-slide:nth-child(5) {
	background-image: url("../img/ocean20_05.jpg");
}
#view-3-swiper>div>.swiper-slide:nth-child(6) {
	background-image: url("../img/ocean20_06.jpg");
}
#view-3-swiper>div>.swiper-slide:nth-child(7) {
	background-image: url("../img/ocean20_07.jpg");
}