@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
*{
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

body {
	width: 100%;
	height: 100%;
	position: relative;
}

div#title>p {
	font-family:'Rammetto One', cursive;
	margin: 40px;
	text-align: center;
	font-size: 8vw;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
}
div#content>p {
	font-family: 'Poiret One', cursive;
	/*font-weight: lighter;*/
	margin: 20px;
	color:  black;
	line-height: 30px;
}

div#title {
	position: relative;
	cursor: pointer;
	width: 100%;
	font-weight: bold;
}
div#title>p {	
	text-shadow: -15px 5px 15px #D8D8D8; 	
	letter-spacing: 10px;
	transition: 1.5s;

}
body:hover>div#title>p {	
	text-shadow: 10px 10px 3px #D8D8D8; 
	letter-spacing: -2px;
	transition: 1.5s;
}

div#title::after {
	content: "";
	position: absolute;
	left: 50%;
	height: 1px;
	width: 0;
	bottom: 0;
	background-color: #BDBDBD;
	transition: 1.5s;
}
body:hover>div#title::after {	
	width: 100%;
	left: 0;
	bottom: 0;
	transition: 1.5s;

}
div#title::before {
	content: "";
	position: absolute;
	right:  0;
	height: 1px;
	width: 0;
	top: 0;
	background-color: #BDBDBD;
	transition: 1.5s;
}
body:hover>div#title::before {	
	width: 100%;
	top:0;
	transition: 1.5s;

}

div#content {
	margin: 90px;
}

div#content>p {	
	letter-spacing: 3px;
	transition: 1s;

}
body:hover>div#content>p {
	letter-spacing: 6px;
	transition: 1s;
}

body:hover>div#content>p:first-child>span {
background-color:yellow;
}

body:hover>div#content>p:nth-child(2)>span {
	font-size: 1.2em;
	font-weight: bold;
	color: black;
}
body:hover {
	background-image:linear-gradient(gray 60%,black),url(https://data.whicdn.com/images/320790669/original.jpg);
	background-size: 400px 593px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 90% 120%;
	/*transition: 0.3s;*/
	/*background-color: lightblue;*/
	background-blend-mode: screen;
}
