* {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}
body {
	background-color:  #59b4ae;
}
table {
	width: 100%;
	height: 100%;		
	border-collapse:collapse;

}
table, tr, td {
	border: 1px solid white;
}
table td {
	position: relative;
	width: 50%;
	height: 50%;
}
/*table>div {
 	 position: relative;
}*/
iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	scroll-behavior: none;	
	border: 0;	
	
}
.countsort{
	position : relative;
	width : 100%;
	height : 0;
	padding-bottom : 56.25%;
}

.video{
	position : absolute;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
}


#v1 {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;		
}

 #v2 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: -50px;
	left: -150px;
	
 }
#v2 video {
	position: absolute;
	top: -50px;
	left: -150px;
	width: 100%;
	height:100%;		
	
}	
td svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	min-width: 100%;
	min-height: 100%;				
	z-index: -1;

}
.over {
	overflow: hidden;
}

td>div#p {
	width: 100%;
	height: 50%;
	position: absolute;		
	bottom: 0;
	background-color: #59b4ae;
}
td>div#p>p {
	color: white;
	font-size: 20px;
	text-align: right;
	margin-right: 25px;
	margin-top: 15px;
}
td>div#p>p+p {
	font-size: 10px;
}



td>ul {
	background-color:  #59b4ae;
	list-style: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	height: 100%;	
	padding: 70px 0 0 0;	
}
td>ul>li {
	text-align: center;
	padding: 10px;
	color: white;
}
td>ul>li:hover {
	text-align: center;
	padding: 10px;
	color: navy;
	transition: 0.5s;
}




	.st0{fill:#80D6D8;}
	.st1{fill:#51C4C4;}
	.st2{fill:#53EAAD;}
	.st3{fill:#225491;}
	.st4{fill:#F4C15B;}
	.st5{fill:none;stroke:#59b4ae;stroke-width:11;stroke-miterlimit:10;}
	.st6{fill:#F7AB59;}
	.st7{fill:#59b4ae;}
	.st8{clip-path:url(#SVGID_2_);}
	.st9{fill:#59b4ae;}
	.st10{fill:none;stroke#59b4ae;stroke-width:23;stroke-miterlimit:10;}
	.st11{fill:#0DBCB7;}



@media screen and (min-height: 300px) {

	td svg {
		/*background-color: yellow;*/
		top: -100px;
		left: -80px;
		width: auto;
		height: 140%; 
		z-index: -1;
		transition: 0.5s;
	}
	
}

@media screen and (min-aspect-ratio: 16/9) {
	td svg {
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		min-width: 100%;
		min-height: 100%;				
		z-index: -1;
		transition: 0.5s;
	}

	#v2 video {
		height: 300%; 
			top: -100%;
			transition: 1.2s;
	}

}
@media screen and (max-aspect-ratio: 16/9) {
	#v2 video {
width: 300%; 
			left: -100%;
			transition: 1,2s;

}
}

