* {
	margin: 0;
	padding: 0;
}
body {
	background-color: darkgreen;
}
ul {
	list-style: none;
	background-color: black;
	position: relative;
}
ul li {
	display: inline-block;
	color: darkgray;	
	padding: 9px 10px 9px 17px; 
	font-size: 10px;		
	position: relative;
}
ul li:hover {
	color: white;
	transition: 0.3s;
	display: block;
}
.topmenu>ul>li:first-child>ul{	
	position: absolute;
	left: 0;
	width: 90px;
	opacity: 0;	 
	transition: 0.3s;

}
.topmenu>ul>li:first-child:hover>ul {
	position: absolute;
	left: 0;
	width: 90px;
	display: block;	
	opacity: 1;
	transition: 0.5s;

}
.topmenu>ul>li>ul>li {
	display: block
}

.topmenu>ul>li>ul>li:first-child>ul {
	position: absolute;
	left: 90px;
	width: 105px;
	opacity: 0;
	text-align: left;

}
.topmenu>ul>li>ul>li:first-child:hover>ul {	
	opacity: 1;
	transition: 0.5s;

}
.topmenu>ul>li:first-child::after {
	content: "▼"

}
.topmenu>ul>li:first-child:hover::after {
	content: "▲"

}
.topmenu>ul>li>ul>li:first-child::after {
	content: "▶"

}

#sidemenu a {
	position: absolute;
	right: 0;	
	width: 19px;	
	padding: 15px 0 15px 3px;
	background-color: black;
	font-size: 11px;
	transition: 0.3s;

}
#sidemenu a:hover {
	position: absolute;
	right: 0;	
	width: 90px;
	padding:  15px 0 15px 3px;
	background-color: black;
	font-size: 11px;
	transition: 0.3s;
}
a:link {
	color: darkgray;
	text-decoration: none;
}
a:visted {
	color: darkgray;
	text-decoration: none;

}
a:hover {
	color: white;
	text-decoration: none;
	transition: 0.3s;

}

#home {
	top: 60px;
	
}
#work{
	top: 130px;

}
#about {
	top: 190px;

}
#content {
	top: 250px;

}

a:first-letter {
	padding: 6px;
}