* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a:link {
	color: black;
	text-decoration: none;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
.container {
	width: 950px;
	height: 100%;
	margin: 0 auto;
}
#logo {
	font-size: 2rem;
	width: 150px;
	height: 70px;
	margin: 26px 0 0 0;
	font-weight: 800;
	letter-spacing: 5px;
}
#top-nav {
	display: block;
	width: 800px;
}
#top-nav>ul {	
	float: right;
	list-style: none;	
	margin: 40px 0 0 0;
}
#top-nav>ul>li {
	display: inline-block;
	padding: 0 20px;
}

#head-line {	
	font-size: 7rem; 
	text-align: center;
}
#mid-nav {	
	text-align:center; 
	font-size: 20px;
	font-weight: lighter;
    margin: 20px 102px;
    margin-bottom: 40px;
}
#mid-nav>ul {		
	border-radius: 20px;
	background-color: #F2F2F2;
}
#mid-nav>ul>li {
	list-style: none;
	display: inline-block;
	background-color: #F2F2F2;
	padding: 5px 30px;
	border-radius: 20px;
}
#mid-nav>ul>li:first-child {
	background-color: #585858;
	border-radius: 20px;
}
#mid-nav>ul>li:first-child>a {
	color: white;
}
#main-content {
	width: 650px;
	margin: 10px;
}

#main-img {	
	position: relative;
	height: 320px;
	background-color: #F2F2F2;
}
#side {
	width: 250px;
	height: 450px;
	background-color: #F2F2F2;
	margin: 10px;
	padding: 50px 30px;
}
#main-text {
	margin-top: 20px;
}
#main-text>div {
	line-height: 30px;
	margin-bottom: 30px;
}
/*div#side.float-right~div {
	padding: 10px;

}*/

#side>div {
	margin-bottom: 15px;

}
#side>div>p {
	font-size: 12px;
}
i.fa-spinner {
	position: absolute;
	top: 45%;
	left: 45%;
}

#contact {
	width: 100%;
	height: 100px;
	background-color: #848484;

}
#contact>.container>div:first-child {
	width: 500px;
	margin-top: 20px;
	color: #BDBDBD;
}
#contact>.container>div:last-child {
	background-color: white;	
	margin-top: 30px;
	margin-right: 10px;
	border-radius: 20px;
	width: 120px;
	height: 40px;
	text-align: center;
	cursor: pointer;
	/*vertical-align: middle;*/
	padding: 10px;
}
#contact>.container>div:last-child:hover {
	background-color: #585858;
	color: white;
	transition: 0.3s;
}
#info {
	width: 100%;
	height: 250px;
	background-color: #585858;
}

#info>.container>div:first-child {
	width: 300px;
	margin-top: 30px;
	color: #A4A4A4;	
}
#info>.container>div:first-child>#icon>ul {
	list-style-type: none;
	color: #A4A4A4;
	margin-top:85px;	

}
#info>.container>div:first-child>#icon>ul>li {
		display: inline-block;

}
#info>.container>div#bottom-nav {
	width: 330px;
	margin-top: 30px;
	margin-left: 50px;
	margin-right: 150px: ; 
	/*마진값 주의할 것!*/
	color: #A4A4A4;
	border: 1px solid #A4A4A4;
	border-top: 0;
	border-bottom-width: 0;

}
#info>.container>div#bottom-nav>ul {
	padding: 0 5px 0 65px;
	list-style-type: none;	
	display: inline-block;
	float: left;
}
#info>.container>div#bottom-nav>ul:first-child>li:first-child {
	font-weight: 800;
}
#info>.container>div#bottom-nav>ul:nth-child(2)>li:first-child {
	font-weight: 800;
}

#info>.container>div#info-button {
	width: 120px;

}
#info>.container>div#info-button>button {
	background-color: rgba(0,0,0,0);
	margin-top: 30px;
	margin-right: 10px;
	border-radius: 20px;
	width: 100px;
	height: 25px;
	text-align: center;
	cursor: pointer;
	border: 1px solid  #A4A4A4;
	color: #A4A4A4;
}
#info>.container>div#info-button>button:hover {
	background-color: rgba(0,0,0,0.5);
	transition: 0.3s;
	color: white;


}
#info>.container>div#info-button>div {
	text-align: right;
	font-size: 12px;
	margin-right: 25px;
	margin-top:150px;
	color: #A4A4A4;
}

#burger {
	display: none;
	width: 40px;
	height: 40px;
	position: relative;
	cursor: pointer;

}
#burger>div {
	height: 3px;
	width: 100%;
	background-color: black;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: 0.4s;
}
#burger>div::before {
	content: "";
	height: 3px;
	width: 100%;
	background-color: black;
	position: absolute;
	top: -10px;

}
#burger>div::after {
	content: "";
	height: 3px;
	width: 100%;
	background-color: black;
	position: absolute;
	bottom: -10px;

}
#burger:hover>div {
	width: 50%;
}
#burger:hover>div::before {
	width: 75%;

}
#burger:hover>div::after {
	width: 150%;

}


@media screen and (max-width: 960px) {
	.container {
		width: 95%;
	}
	#header {
		height: 75px;
		border-bottom: 1px solid;
		position: sticky;
		top: 0;
		z-index: 2;
		background-color: white;

	}
	#main, #head-line {
		padding-top: 20px;

	}
	#head-line {
		font-size: 10vw;
	}
	#logo {
		width: 100%;
		text-align: center;

	}
	#top-nav {
		display: none;
		width: 83.33333333%;

	}
	#top-nav>ul>li {	
	padding: 0 2.083333333%;
	}
	#mid-nav {
		display: none;
	}
	#main-img {
		width: 100%;
	}
	#burger {
		display: block;
		position: absolute;
		top: 25px;
		right: 25px;
		z-index: 3;

	}
	#main-content {
		
	}
}