* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.container {
	width: 1300px;
	height: 100%;
	margin: 0 auto;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
/*header*/
#header {
	height: 320px;
	background-color: #9299a9;
	padding-top: 20px;
}

#header>.container>#logo>i {
	color: #d8d9de;
	padding: 3px 10px 0 0;
	position: relative;
	z-index: 2;
}
#header>.container>#logo>h4 {
	color: #d8d9de;
	font-weight: normal;
	text-transform: capitalize;
	position: relative;
	z-index: 2;
}	
#header>#logo_img {
	width: 500px;
	height: 100px;
	position: absolute;
	/*position 기준 정확히 정하기*/
	top: -10%;
	left: 9%;
	z-index: 1;	
}
#header>.container>#nav>p {
	color: #d8d9de;
	text-transform: capitalize;
}
#header>.container>#nav>i {
	color: #d8d9de;
	padding: 3px 0 0 10px;
	cursor: pointer;	
}
#header>#title {	
	text-align: center;
	margin-top: -255px;
}
#header>#title>h2 {	
	font-weight: normal;
	font-size: 40px;
	color: #d8d9de;
	text-transform: uppercase;
}
#header>#title>ul {	
	width: 675px;
	background-color: #f2f2f2;
	text-align: center;
	height: 35px;
	font-size: 14px;
	border-radius: 2px;
	text-transform: capitalize;
	margin-top: 20px;
}	
#header>#title>ul>li {
	width: 135px;
	display: inline-block;	
	background-color: #f2f2f2;
	border-left: 1px solid #9299a9;
	height: 35px;
	padding:  6px 10px 0;
	cursor: pointer;
	float: left;
	cursor: pointer;
	box-shadow: 0 0 20px rgba(146, 153, 169, 0.5) inset; 
}
#header>#title>ul>li:first-child {
	border: 0;
}
/*header 끝*/
/*main 시작*/
#main {
	height: 479px;
	width: 100%;
	background-color: #9299a9;	
	text-align: center;
	color: #d8d9de;
	position: relative;
}
#main>.container>h1 {
	text-transform: uppercase;
	font-size: 80px;
	font-weight: lighter;
} 
#main>.container>h2 {
	text-transform: capitalize;
	font-weight: lighter;
}
#main>.container>i {
	padding-top: 200px;

}
#main>.container>ul {
	width: 200px;
	list-style-type: none;
}
#main>.container>ul>li {
	position: relative;
	float: left;
	display: inline-block;
	background-color: transparent;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 2px solid #d8d9de;
	z-index: 1;
	margin: 35px 6px 0 0;

}
#main>.container>ul>li:first-child {
	margin-left: 100px;
}
#main>.container>ul>li:nth-child(4) {
	background-color: #d8d9de;
	border: 0;
}
#main>.container>#play_button {
	float: right;
	width: 300px;
	color: #d8d9de;
	margin-top: 40px;
}
#main>.container>#play_button>i {
	float: left;
	cursor: pointer;
}
#main>.container>#play_button>p {
	float: left;
	padding: 5px 0 0 8px;
	text-transform: capitalize;
}
#main_img {
	width: 100%;
	height: 0;
	position: absolute;
	top: 375px;
	left: 0;
}
#main_contents {
	position: relative;
	z-index: 1;
	color: #d8d9de;
	height: 300px;
	margin-top: 150px;
	text-transform: capitalize;
}
#main_contents>#title {
	text-align: right;
	margin-left: 130px;
}
#main_contents>#title>h2 {
	font-size: 50px;
	margin-bottom: -30px; 
	font-weight: normal;
}
#main_contents>#title>h1 {
	font-size: 70px;
	font-weight: normal;
}
#main_contents>#title>p {
	font-size: 17px;
	cursor: pointer;
}
#main_contents>p {
	width: 510px;
	height: 450px;
	text-align: justify;
	margin: 70px 110px 0 0;
}
/*main 끝*/
/*contents 시작*/
#contents {
	margin-top: 530px;
}
/*contents_1*/
#contents_1>#slide_title {
	text-align: left;
	color: #9299a9;
	width: 300px;
	height: 400px;
	padding-top: 35px;	
}
#contents_1>#slide_title>p {
	font-weight: normal;
	text-transform: capitalize;	
}
#contents_1>#slide_title>h1 {
	font-size: 40px;
	font-weight: normal;
	line-height: 35px;
	margin-bottom: 20px;
}
#contents_1>#slide_title>button {
	width: 160px;
	height: 40px;
	border-radius: 20px;
	margin-top: 20px;
	background-color: #b4bac8;
	border: 0;
	color: white;
	cursor: pointer;
}
#contents_1>#slide {
	width: 905px;
	margin-top: -130px;	
}
#contents_1>#slide>div:nth-child(1) {
	position: relative;
	float: left;
	background-color: #9299a9;
	width: 650px;
	height: 450px;
}
#contents_1>#slide>div:nth-child(2) {
	position: relative;
	float: left;	
	background-color: #878c9f;
	width: 250px;
	height: 450px;
	margin-left: 5px;
}
#contents_1>#slide>div:nth-child(1)>i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color:  #d8d9de;
}
#contents_1>#slide>div:nth-child(2)>i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color:  #d8d9de;
}
#contents_1>#slide>ul {
	width: 200px;
	list-style-type: none;
}
#contents_1>#slide>ul>li {
	display: inline-block;
	background-color: transparent;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	border: 2px solid #d8d9de;
	z-index: 1;
	margin: 20px 2px 0 0;
	cursor: pointer;
}
#contents_1>#slide>ul>li:nth-child(4) {
	background-color: #d8d9de;
	border: 0;
}
#contents>.clearfix>#back_box {
	margin-top: -440px;
	background-color: #fafafa;
	width: 1350px;
	height: 500px;
}
#contents>.clearfix>#back_slide {
	margin-top: -500px; 
	right: 10%;
	background-color: #f2f2f2;
	width: 105px;
	height: 380px;
	position: relative;
	z-index: -1;
}
#contents>.clearfix>#back_slide>i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color:  #d8d9de;
}
/*contents_2*/
#contents_2 {
	background-color: #778091;
	height: 500px;
}
#contents_2>div>div:first-child {
	width: 500px;
	height: 100%;
	color:#9299a9;
	position: relative;
}
#contents_2>div>div:first-child>i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#contents_2>div>div:nth-child(2) {
	width: 450px;
	color: #d8d9de;
	margin-top: 100px;
	margin-right: 100px;
}
#contents_2>div>div:nth-child(2)>p {
	font-weight: normal;
	text-transform: capitalize;	
	color: #d8d9de;
}
#contents_2>div>div:nth-child(2)>h1 {
	font-size: 40px;
	font-weight: normal;
	line-height: 35px;
	margin-bottom: 20px;
	color: #f2f2f2;
}
#contents_2>div>div:nth-child(2)>button {
	width: 160px;
	height: 40px;
	border-radius: 20px;
	margin-top: 20px;
	background-color: #f2f2f2;
	border: 0;
	color: #9299a9;
	cursor: pointer;
}
/*contents_3*/
#contents_3 {
	height: 500px;
	position: relative;
	background-image: linear-gradient(to right, #fafafa 5%, white);
}
#contents_3>.container>div:first-child {	
	width: 300px;
	height: 100%;
	margin-top: 135px;
	color: #9299a9;
	text-transform: capitalize;
}
#contents_3>.container>div:first-child>h1 {
	font-size: 40px;
	font-weight: normal;
	line-height: 35px;
	margin-bottom: 20px;
}
#contents_3>.container>div:first-child>p:nth-child(3) {
	margin-top: 15px;
}
#contents_3>.container>div:first-child>p:nth-child(3)>span {
cursor: pointer;
line-height: 5px;
}
#contents_3>.container>#con3_img {
	width: 812px;
	height: 100%;
	position: absolute;
	top: -10%;
	left: 42.5%;
}
#contents_3>.container>#con3_img>div:first-child {
	width: 400px;
	height: 500px;
	background-color: #9299a9;
	position: relative;
}
#contents_3>.container>#con3_img>div:nth-child(2) {
	width: 400px;
	height: 247px;
	background-color: #878c9f;
	margin-left: 6px;
	margin-bottom: 6px;
	position: relative;
}
#contents_3>.container>#con3_img>div:nth-child(3) {
	width: 400px;
	height: 247px;
	background-color: #a5abb7;
	margin-left: 6px;
	position: relative;
}
#contents_3>.container>#con3_img>div>i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #d8d9de;
	opacity: 0.6;
}
/*icon_area*/
#icon_area {
	height: 80px;
	background-color: white;
}
#icon_area>div {
	width: 184px;
	text-align: center;
	margin-top: 50px;
}
#icon_area>div>p {
	text-transform: capitalize;
	color:  #a5abb9;
	margin-bottom: 10px;
}
#icon_area>div>ul {
	list-style-type: none;
}
#icon_area>div>ul>li {	
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: #a5abb9;
	border-radius: 50%;
	padding: 0 3px;
	position: relative;
}
#icon_area>div>ul>li>i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #f2f2f2;
}
/*contents 끝*/
/*footer 시작*/
#footer>div:nth-child(2) {
	background-color: #ecf0f3;
	margin-top: -5px;
	height: 20px;
}
#foot_copyright {
	position: relative;
}
#foot_copyright>div  {
	position: absolute;
	top: -220px;
	z-index: 1;
	color:  #a5abb9;
	text-transform: capitalize;
}
#foot_copyright>div>h1 {
	font-size: 35px;
	font-weight: normal;
	line-height: 35px;
	margin-bottom: 20px;
}
#foot_copyright>div>div {	
	background-image: url(https://businessnamegenerator.com/wp-content/uploads/2020/02/GD_LOCKUP_RGB_BLACK_1.png);
	background-size: auto 30px;
	background-repeat: no-repeat;
	background-position: -9px 0;
	opacity: 0.2;
	width: auto;
	height: 30px;
	margin-top: 5px;
}
/*footer 끝*/
