*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	overflow-y:scroll;
	overflow-x: hidden;
}
html, body {
	/*height: 100%;*/
	
}
#front {
	text-align: center;
	font-size: 100px;
}
#background {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
#background>div {
	position: absolute;
	/*padding: 25px;
	background-color: red;*/
	animation-name: turn, round;
	animation-duration: 2s, 2s;
	animation-timing-function: linear;
	animation-direction: normal, alternate;
	animation-iteration-count: infinite;
}
#background>div>div {
	/*padding: 25px;
	background-color: blue;*/
	animation-name: turn, round;
	animation-duration: 1s, 2s;
	animation-timing-function: linear;
	animation-direction: reverse, alternate;
	animation-iteration-count: infinite;
}
#background>div>div>div {
	/*width: 100px;
	height: 100px;
	background-color: green;*/
	animation-name: turn, round;
	animation-duration: 3s, 1s;
	animation-timing-function: linear;
	animation-direction: normal, alternate;
	animation-iteration-count: infinite;
}

@keyframes turn {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes round {
	0% {
		border-radius: 0%;
	}
	100% {
		border-radius: 50%;
	}
}