* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
	/*overflow: hidden;*/
}
.rows {
	height: 100%;
	width: 200%;
}
.rows::after {
	clear: both;
	content: "";
	display: table;
}
.scene {
	float: left;
	width: 50%;
	height: 100%;
	position: relative;
	transition: 1s;
}
/*#s1 {
	background-color: #1a1a1a;
}
#s2 {
	background-color: #f6eee3;
}
#s3 {
	background-color: #f6eee3;
}
#s4 {
	background-color: #1a1a1a;
}*/
.next, .prev, .down, .up {
	z-index: 9999;
	font-size: 12vw;
}
.next::after, .prev::after, .down::after, .up::after {
	transition: 1s;
	position: absolute;
	cursor: pointer;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.next::after {
	content: '\2192';
	right: 25px;
	top: 50%;
	transform: translateY(-50%);
	animation-name: nextArrow;
}
#s1 .next:hover::after, #s3 .next:hover::after {
	content: '\21A0';
	animation-duration: .7s;
}
#s1 .next::after {
	color: #f6eee3;
}
#s1 .next:hover::after {
	color: #1a1a1a;
}
#s3 .next::after {
	color: #1a1a1a;
}
#s3 .next:hover::after {
	color: #f6eee3;
}

.prev::after {
	content: '\2190';
	left: 25px;
	top: 50%;
	transform: translateY(-50%);
	animation-name: prevArrow;
}
#s2 .prev:hover::after, #s4 .prev:hover::after {
	content: '\219E';
	animation-duration: .7s;
}
#s2 .prev::after {
	color: #1a1a1a;
}
#s2 .prev:hover::after {
	color: #f6eee3;
}
#s4 .prev::after {
	color: #f6eee3;
}
#s4 .prev:hover::after {
	color: #1a1a1a;
}

.down::after {
	content: '\2193';
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	animation-name: downArrow;
}
#s1 .down:hover::after, #s2 .down:hover::after {
	content: '\21A1';
	animation-duration: .7s;
}
#s1 .down::after {
	color: #f6eee3;
}
#s2 .down::after {
	color: #1a1a1a;
}
#s1 .down:hover::after {
	color: #1a1a1a;
}
#s2 .down:hover::after {
	color: #f6eee3;
}

.up::after {
	content: '\2191';
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	animation-name: upArrow;
}
#s3 .up:hover::after, #s4 .up:hover::after {
	content: '\219F';
	animation-duration: .7s;
}
#s3 .up::after {
	color: #1a1a1a;
}
#s3 .up:hover::after {
	color: #f6eee3;
}
#s4 .up::after {
	color: #f6eee3;
}
#s4 .up:hover::after {
	color: #1a1a1a;
}

@keyframes nextArrow {
	0% {
		right: 25px;
	}
	50% {
		right: 50px;
	}
	100% {
		right: 25px;
	}
}

@keyframes prevArrow {
	0% {
		left: 25px;
	}
	50% {
		left: 50px;
	}
	100% {
		left: 25px;
	}
}

@keyframes downArrow {
	0% {
		bottom: 0px;
	}
	50% {
		bottom: 25px;
	}
	100% {
		bottom: 0px;
	}
}

@keyframes upArrow {
	0% {
		top: -40px;
	}
	50% {
		top: -15px;
	}
	100% {
		top: -40px;
	}
}

.firstWord, .secondWord {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 12vw;
}
.firstWord span, .secondWord span {
	position: relative;
	opacity: 0;
	top: 6vw;
}
.firstWord::after, .secondWord::after {
	content: "";
	position: absolute;
	height: 5px;
	width: 0%;
	bottom: 30px;
	left: 0;
	transition: .4s;
}
.firstWord::after {
	background: #f6eee3;
}
.secondWord::after {
	background: #1a1a1a;
}
.firstWord.under::after {
	width: 100%;
}
.over .firstWord::after {
	background-color: #1a1a1a;
}
.firstWord2, .secondWord2, .thirdWord2 {
	position: absolute;
	opacity: 0;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.over .firstWord2 {
	color: #1a1a1a;
}
.secondWord.under::after {
	width: 100%;
}
.over .secondWord::after {
	background-color: #f6eee3;
}
.over .secondWord2 {
	color: #f6eee3;
}
.scene-wrap {
	position: absolute;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: red;
}
.scene-wrap::after {
	content: "";
	clear: both;
	display: table;
}
.leftImg, .rightImg {
	float: left;
	height: 100%;
	width: 50%;
	overflow: hidden;
}
.leftImg>img, .rightImg>img {
	position: relative;
	width: 100%;
	top: 50%;
	opacity: 0;
}
.thirdWord2 {
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 1.5vw;
}
.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1) rotate(0deg);
	color: #f6eee3;
	opacity: 0;
	transition: .7s;
}