
@font-face {
  font-family: pado;
  src: url(../font/pado.ttf);
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	backface-visibility: hidden;
	font-family: 'Nanum Gothic', sans-serif;
}
html, body {   
	/*height: 100%;		*/
}
body {
  overflow-y: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
.clear-both:after {
	content: "";
	clear: both;
	display: table;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
button {
  position: relative;
	outline: none;
	border: none;
	background-color: transparent;
  cursor: pointer; 
  color: #222222;
  border: 1px solid #f8b600;
  padding: 12px 40px;
  transition: 0.3s ease;
  border-radius: 2px;
}
button:hover {
  background-color: #f8b600;  
}
button img {
  position: absolute;
    z-index: 1;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
}
button:hover img {
  right: -30px;
}
.line-h-40 {
  line-height: 40px;
}
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #F6E3CE;  
  z-index: 2;
  transition: 1s ease;
  overflow: hidden;
}
#loading-wave, #test {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#test {
  width: 10px;
  height: 10px;
  background-color: red;
}
/*====loading Wave====*/
.loading-wave {
  padding: 10px;
  border-radius: 4px;
  height: 125px;
  margin-bottom: 10px;
}
.sp {
  width: 32px;
  height: 32px;
  clear: both;
  margin: 20px auto;
}
.sp-wave {
  border-radius: 50%;
  position: relative;
  opacity: 1;
}

.sp-wave:before, .sp-wave:after {
  content: "";
  border: 1px #fff solid;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
}

.sp-wave:before {
  transform: scale(1, 1);
  opacity: 1;
  -webkit-animation: spWaveBe 0.6s infinite linear;
  animation: spWaveBe 0.6s infinite linear;
}

.sp-wave:after {
  transform: scale(0, 0);
  opacity: 0;
  -webkit-animation: spWaveAf 0.6s infinite linear;
  animation: spWaveAf 0.6s infinite linear;
}

@keyframes spWaveAf {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes spWaveBe {
  from {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
    opacity: 0;
  }
}
#loading-logo { 
  overflow: hidden;
  transform: translate(13%,7%);
}
#loading-logo span {
  font-size: 230px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  font-weight: 400;
  opacity: 0.8;
}
#loading-logo>span:nth-child(1) {
  position: relative;
    top: -225px;
}
#loading-logo>span:nth-child(2) {
  position: relative;
  bottom: -225px;
}

#frame {
  position: fixed;
  width: 100%;
  z-index: 2;
}
#frame>header {
  position: absolute;
  top: 0;  
  /*left: -300px;*/
  width: 100%;  
}
#top-nav-wrap {
  position: relative;
  top: -100px;
   z-index: 1;
}
#nav-bar {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #009bdf;
}
#logo-area {
  position: absolute;
  height: 90px;
  width: 90px;
  background-color: #009bdf;
  border-radius: 0 0 10px 0;
  padding: 0 10px;
  left: -160px;
  transition: 0.6s;
 
}
#logo-area:after {
  content: "";
  position: absolute;
  top: 0;
  right: -58px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 114px 79px 0 0;
  border-color: #009bdf transparent transparent transparent;
  border-radius: 0px 0 0px 76px;
}
#logo-area>.company-logo {
  padding-top: 26px;
  padding-left: 10px
}
#logo-area>.company-logo>span {
  color: #fff;
  font-weight: 400;
}
#logo-area>.company-logo>span:nth-child(1) {
  font-size: 35px;

}
#logo-area>.company-logo>span:nth-child(2) {
  font-size: 11.5px;
  
}
#nav-button {
  position: absolute;
  top: 0;
  left: -210px;
  width: 130px;
  height: 67px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 0;
}
#nav-button:after {
    content: "";
    position: absolute;
    top: 0;
    right: -52px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 67px 52px 0 0;
    border-color: rgba(0,0,0,0.3) transparent transparent transparent;
    border-radius: 0px 0 0px 0px;
    z-index: -1;
}
#burger-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100px;
  height: 30px;
  cursor: pointer;
}
#burger {
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 60%;
  transform: translate(-50%,-50%); 
}
#burger-text {
  position: absolute;
  color: #fff;
  right: -40px;
  font-size: 12px;
  top: -1px;
  text-align: center;
}
.icon-bar {
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #f2f2f2;
  border-radius: 1px;
  left: 50%;
  transform: translateX(-50%);
}
.icon-bar:nth-child(2) {
  top: 6px;
}
.icon-bar:nth-child(3) {
  top: 12px;
}
#plan {
    position: absolute;
    top: 90px;
    left: -60px;
}
#plan #default {
 position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 40px 0 0;
  border-color: #f2f2f2 transparent transparent transparent;
  border-radius: 0px 0 0px 0px;
}
ul {
  list-style-type: none;
}
li {
  display: inline-block;
}
#plan #default {
 position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
border-width: 69px 52px 0 0;
  border-color: #f2f2f2 transparent transparent transparent;
  border-radius: 0px 0 0px 0px;
}
#fly-icon {
  position: absolute;
    top: -55px;
    left: 4px;
}
#fly-icon>svg {
    position: relative;    
    height: 17px;
    transform: rotate(45deg);
}
#fly-icon>svg path {
  fill: #009bdf;
}
ul {
  list-style-type: none;
}
#nav-bar>ul {
  padding-left: 5%;
  width: 1220px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-weight: 700;
}
#nav-bar>ul>li {  
  margin: 0 40px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}

#nav-bar>ul>li:hover {
  color: #363d4c;
}
nav {
  position: fixed;
  left: 50%;
  bottom: 460px;
  display: block;
  margin-left: 640px;
  width: 60px;
  z-index: 1;
  opacity: 0;
}
nav>ul>li {
  position: relative;
  width: 55px;
  cursor: pointer;
  color: #000;
  height: 55px;
  border: 1px solid #ddd;
  font-size: 12px;
  text-align: center;
  padding: 4px 0;
  background-color: #fff;

}
nav>ul>li>span {
  font-size: 30px;
  position: relative;
  color: #6E6E6E;
}
span:after {
  font-size: 12px;
  position: absolute;
  top: 30px;
  left: -19px;
  width: 70px;
}
#to-top>span:after {
  content: "TOP";
}
#chat>span:after {
  content: "견적상담";
}
#recently>span:after {
  content: "관심상품";
}
/*====swiper====*/
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  background-color: #f2f2f2;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  background: #fff;
}

/*====main 시작====*/
#main {
	position: relative;
	width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
#main::-webkit-scrollbar {
	display: none;
}
#main>section {
	position: relative;
	width: 100%;
}
#main>section>div(not:.wave-wrap) {
	position: relative;
	height: 100%;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
  overflow: hidden;
}
#main-title {
	background-color:#3e9ffb;  
  background-image: linear-gradient(to top, #fff 0px, #63abea 0%, #73eef5 100%);
   transition: 1s ease;
   overflow: hidden;
 }
 #main-title:before {
  content: "";
  position: absolute;
  width: 100%;
  background-image: url(../img/main.jpg);
  background-size: cover;
  height: 100%;
  opacity: 0.8;
 }
.contents {
  width: 1050px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: auto;
  transform: translate(-50%,-50%); 
  z-index: 1;

}
#main-title>div>.contents {
  width: 70%; 
}
#title {
    position: absolute;
    top: 40%;
    left: 0;
}
#title>span {
	font-size: 50px;
  color: #fff;
  font-weight: 500;
  letter-spacing: -5px;
  transition: 0.6s ease;
  position: relative;
  top: 20px;
}
#main-title>div>.contents>div:nth-child(2) {
  position: absolute;
  bottom: 0;
  left: 50%;
}
#scroll {
  color: #fff;
  position: absolute;
  bottom: 80px;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  text-transform: capitalize;
  font-size: 13px;
  cursor: pointer;
  font-size: 15px;
}
#scroll:after {
  content: "";
  position: absolute;
  top: 30px;
  transform: translateX(-50%);
  left: 33px;
  height: 19px;
  width: 12px;
  border: 2px solid #fff;
  border-radius: 3px;
}
#scroll:before {
  content: "";
  position: absolute;
  top: 20px;
  left: 31px;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: #fff;
  animation: move 1s cubic-bezier(0.350, -0.240, 0.525, 1.250) infinite;
  opacity: 0;
}
@keyframes move {
  0%, 10% {
    opacity: 0;
    top: 35px;
  } 

  50% {
    opacity: 1; 

  }
  90%, 100% {
    opacity: 0;
    top: 44px;
  }
}

#line {
  position: absolute;
  width: 80%;
  height: 1px;
  background-color: #fff;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}
#line:before {
  content: " +NEWS"; 
  position: absolute;
  left: -55px;
  top: -9px;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
}
#line:after {
  content: "";
  position: absolute;
  right: -20px;
  top: -10px;
  background-image: url("../img/facebook.png");
  background-size: cover;
  cursor: pointer;
  width: 10px;
  height: 20px;

}

section[id*=page-] {
  background-color: #fff;
  position: relative;
  width: 100%;   
}
section[id*=page-]:not(#page-1) {
 /* top: 20px;
  opacity: 0;*/
}

#page-1 {
  height: 500px;  
  text-align: center;
}
#intro-box-wrap {
  position: relative;
  width: 1050px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);   
}
.intro-box {
  position: relative;
     padding: 55px 20px 0;
  width: 350px;
  height: auto;
  float: left;
  text-align: center;  
  top: 50px;
}
.intro-box:nth-child(3) {
  margin-left: 0;
}
.intro-box:nth-child(5) {
  margin-right: 0;
}
.intro-box h4 {
  margin-bottom: 10px;
}
.icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #63abea;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
}
.icon>i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 30px;
  font-family: 'Bree Serif', serif;
  font-style: normal;
}
.icon>span {
  color: #fff;
  font-size: 33px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#page-2 {
  height: 450px;  

}
#page-2>.contents {
  height: 100%;
}
#event {
  position: relative;
  width: 100%;
  height: 80%;
  top: 50%;
  transform: translateY(-50%);
}
.event-text {
 padding: 35px 70px;
 color: #363d4c;
}
.event-text h1 {
  font-size: 30px;
  font-weight: 900;
  line-height: 70px;
}
.event-text p {
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.5px;
  }
.event-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}
#event-img-2>.event-text,#event-img-3>.event-text {
  color: #fff;
  filter: drop-shadow(0 0 1px #000);
}
#event-img-1 {
  background-image: url("../img/event-img-1.jpg");
}
#event-img-2 {
  background-image: url("../img/event-img-2.jpg");
}
#event-img-3 {
  background-image: url("../img/event-img-3.jpg");
}
#evnet-button-area {
  width: 300px;
  height: 100%;
  text-align: right;
}
.evnet-button-area button {
  position: absolute;
  bottom: 70px;
  right: 50px;
  background-color: #f8b600;
}
.my-swiper-prev, .my-swiper-next {
  position: absolute;
  width: 35px;
  height: 50px;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer; 
  opacity: 0;
}
.my-swiper-next {
  right: 0;
}
div[class*=my-swiper-]>span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
  color: #fff;
}

#page-3 {
  height: 800px;
  text-align: center;
  margin: 70px 0;
}
#popular-wrap {
  position: relative;
  padding: 20px 0;
/*  left: 50%;
  transform: translateX(-50%);*/
}
.popular-box {
  float: left;
  position: relative;  
  background-color: transparent;
  height: 300px;
  margin: 4px;
  overflow: hidden;
  transition: 0.3s ease;
  cursor: pointer;
  border: 1px solid #ddd;
}
div[id*=popular-img-]:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  left: 0;
  z-index: -1;
}
#popular-img-1 {
  width: 642px; 
}
#popular-img-1:after { 
  background-image: url("../img/popular-img-1.jpg");
}
#popular-img-2 {
  width: 392px;
}
#popular-img-2:after {
  background-image: url("../img/popular-img-2.jpg");
 
}
#popular-img-3 {
  width: 342px;
}
#popular-img-3:after {
   background-image: url("../img/popular-img-3.jpg");
 
}
#popular-img-4 {
  width: 342px;
}
#popular-img-4:after {
   background-image: url("../img/popular-img-4.jpg");
 
}
#popular-img-5 {
  width: 342px;
}
#popular-img-5:after {
   background-image: url("../img/popular-img-5.jpg");
 
}
.pin {
  position: absolute;
  top: 10px;
  right: -55px;
  background-color: #fff;
  width: 50px;
  height: 50px; 
  cursor: pointer;
}
.pin:hover {
  background-color: #63abea;
  transition: 0.3s ease;
}
.lnr-pushpin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 20px;
  height: 20px;
  fill: #63abea;
}
.pin:hover .lnr-pushpin {
  fill: #fff;
   transition: 0.6s ease;
}
.info {
  position: absolute;
  bottom: -75px;
  left: -55px;
  text-align: left;
  color: #fff;
}
.info>span {
  font-size: 13px;
  opacity: 0.9;
}
.info>h2 {
  padding: 5px 0;
}
.more {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.more>button {
  border: 1px solid #63abea;
}
.more>button:hover {
  background-color:  #63abea;
  color: #fff;
}
#page-4 {
  height: 560px;
}
#hotel-wrap {
  position: relative;
  height: 80%;
  top: 50%;
  transform: translateY(-50%);
}
#hotel-text {
  position: relative;
  width: 400px;
  height: 100%;
}
#hotel-text h1 {
  font-size: 35px;
  padding-bottom: 15px;
}
#hotel-text p {
  line-height: 21px;
  /*font-size: 14px;*/
  font-weight: 100;
  opacity: 0.8;
  position: absolute;
  padding-top: 20px;
}
#hotel-text button {
  position: absolute;
  bottom: 10px;
  left: 0;
}
#hotel-slide-area {
  position: relative;
  width: 600px;
  height: 100%;
}
.swiper-slide {
  position: relative;
}
.hotel-box {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
}
.hotel-thumb {
  position: relative;
  width: 100%;
  height: 55%;
  background-color: #ddd;
  background-size: cover;
  overflow: hidden;
}
.hotel-info {
  position: relative;
  padding: 15px;
  width: 100%;
  height: 45%;
}
.hotel-info>p {
  position: relative;
  width: 100%;
   height: 80px;
  line-height: 80px;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
}
.hotel-info>span {
  position: absolute;
  width: 100%;
  bottom: 15px;
  line-height: 30px;
  font-size: 14px;
}
.hotel-info>span>p>span {
  padding-right: 10px; 
  position: relative;
  top: 1.8px;
}
.hotel-info>span>button {
  width: 70px;
    padding: 0;
    right: 40px;
    height: 30px;
    border-radius: 10px;
}
#hotel-img-1 {
  background-image: url("../img/hotel-img-1.jpg");
}
#hotel-img-2 {
  background-image: url("../img/hotel-img-2.jpg");
}
#hotel-img-3 {
  background-image: url("../img/hotel-img-3.jpg");
}
#hotel-img-4 {
  background-image: url("../img/hotel-img-4.jpg");
}

#page-5 {
  height: 700px;
}
#review-wrap {
 position: absolute;
  width: 100%;
  height: 80%;
  top: 50%;
  transform: translateY(-50%);
}
#review-img-wrap {
  position: relative;
  width: 45%;
  height: 100%;
  background-color: #f2f2f2;
}
.review-img:nth-child(1) {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../img/sample.jpg");
  background-size: cover;
}
#review-info {
  position: relative;
  width: 45%;
  height: 100%;  
}
#review-text {
  position: relative;
  width: 100%;
  height: 25%;
}

#review-text h1 {
  font-size: 35px;
    position: absolute;
    bottom: 30px;
}
#review-text p {
  padding-top: 20px;

}
#review-box-wrap {
  position: relative;  
  width: 100%;
  height: 65%;
}
.review-text {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 10% 0;
}
.review-text span:nth-child(1) {
  position: absolute;
  top: 0;
}
.review-text span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
}



#arrow {
  position: relative;
  width: 30%;
  height: 15%;
  padding-top: 4%;
}
#arrow div {
  background-repeat: no-repeat;
  height: 30px;
  width: 50px;
  outline: none;
  cursor: pointer;
}
#review-swiper-prev {
 background-image: url("../img/arrow.png");
 transform: rotate(-180deg); 
}
#review-swiper-prev:after {
  content: "prev";
}
#review-swiper-next {
  background-image: url("../img/arrow.png");
}
#review-swiper-next:after {
  content: "next"
}

#page-6 {
  height: 600px;
}
#news-wrap {  
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
#news-box-wrap {
    position: relative;
    height: 100%;
    width: 1050px;   
    text-align: left;   
    margin: 10px auto 0;
}
.news {
  float: left;
  width: 336.6px;
  margin: 0 10px;
  height: 430px;
  border: 1px solid #ddd;
  transition: 0.3s;
}
.news:hover {
 box-shadow: 0 0px 10px #ddd;
}
.news:nth-child(1) {
  margin-left: 0;  
}
.news:nth-child(3) {
  margin-right: 0;
}
.news-thumb {
  width: 100%;
  height: 200px;
  background-color: #f2f2f2;
}
.news-info {
  position: relative;
    padding: 20px;
    height: 230px;
}
.news-info h3 {
  line-height: 30px;
}
.news-info span {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 14px; 
  text-decoration: underline;
}
#page-7 {
  height: 490px;
}
#survice-wrap {
  position: relative;
  padding-top: 60px;
  width: 100%;
 
}
#survice-wrap>div h3 {
  margin-bottom: 20px;
}
#survice-wrap>div h4 {
  margin-bottom: 5px;
}
#survice-wrap>div h4:nth-child(2n) {
  margin-bottom: 30px;
}
#counsel {
  width: 70%;
  /*height: 340px;  */
}
#guide {
  width: 275px;
}
#counsel>div:nth-child(2) {
  width: 30%;
  height: 100%;
  background-color: #e9e9e9;
  padding: 30px;
}
#counsel>div:nth-child(2) h2 {
  line-height: 50px;
}
#counsel>div:nth-child(2) h2:nth-child(2) {
  margin-bottom: 25px;
}
#counsel>div:nth-child(2) span {
  line-height: 20px;
  font-size: 13px;
}
#counsel>div:nth-child(2) span>strong {
  line-height: 40px;  
}
#counsel>div {
  border-top: 2px solid #e9e9e9;
}
#grup-wrap {
  width: 67%;
  height: 100%;
}
.grup {
  width: 245px;
  height: 100%;
  padding: 20px 20px 0 22px;
  line-height: 23px;
}
.grup:nth-child(1) {
  padding: 20px 22px 0 20px;
}
.grup strong, .grup span {
  font-size: 13px;
}
.grup span:not(.num) {
  padding-left: 5px;
}
.num {
  padding-left: 30px;
}
.grup p {
  font-size: 15px;
}
.grup>p:nth-child(1) {
  width: 100%;
  border-bottom: 1px solid #e9e9e9;
 line-height: 37px;
    margin-bottom: 12px;
}
.grup>p:nth-child(1)>span {
  float: right;
  text-decoration: underline;
  font-size: 12px;
  padding:0;
}
.grup:nth-child(2)>strong {
  line-height: 33px;
  font-size: 15px;
}
.grup:nth-child(2)>span {
  padding: 0;
}

#guide>ul {
  border-top: 1px solid #e9e9e9;
  border-left: 1px solid #e9e9e9;
  width: 275px;  
  height: 340px;
}
#guide>ul li {
  float: left;
  border-bottom: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  width: 50%;
height: 85px;
    line-height: 85px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease;
}
#guide>ul li:hover {
  background-color: #e9e9e9;
}
#notice-wrap {
 position: relative;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    margin-top: 20px;
}
#notice-wrap>div:nth-child(1) {
  width: 8%
}
#notice {
  width: 40%;
}
#notice-wrap span {
  line-height: 42px;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}
#icon-wrap {
  padding-top: 4px; 
}
#icon-wrap>li { 
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e9e9e9;
  line-height: 40px;
  margin-left: 10px;
}
#icon-wrap>li i {  
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
footer {
  position: relative;
  width: 100%;
  height: 460px;
  /*background-color: #6bccef;*/
  overflow: hidden;
}
#bottom-nav-wrap {
  position: fixed;
  width: 100%;
  bottom: -360px;
  right: 0;
  z-index: 2;
  transition: 0.6s;
  right: -160px;
}

#bottom-nav {
  position: absolute;
  right: 0;
  bottom: 360px;
  height: 90px;
  width: 90px;
  background-color: #f8f8f8;
  border-radius: 10px 0 0px 0;
  cursor: pointer;
 
}
#bottom-nav:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -58px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 0px 114px 79px;
  border-color: transparent transparent #f8f8f8 transparent;
  border-radius: 0px 76px 0px 0px;
}
#bottom-nav>div {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%,-50%);
  font-size: 12.5px;
   text-transform: capitalize;
   color: #009bdf;
   z-index: 1;
}
#inr-icon-wrap {
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    left: -9px;
    margin-top: 4px;
    z-index: 1;
    transition: 0.3s ease;
    font-size: 13px;
}
#bottom-nav:hover>#nav-button-wrap>#inr-icon-wrap {
  transform: rotate(180deg);
}
#nav-button-wrap>span {
  position: relative;
  left: 10px;  
}

#bottom-bar {
  position: absolute;
  width: 100%;
  height: 360px;
  background-color: #f8f8f8;
  bottom: 0;

}
#input-wrap {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 572px;
  height: 50px;
  border: 1px solid #e9e9e9;
  /* line-height: 50px; */
  padding: 4.3px 4px;
      background: #fff;
    border-radius: 2px;

}
#input-wrap input {
  position: absolute;
   width: 400px;
  height: 40px;
  outline: none;
      font-size: 17px;
    padding-left: 10px;
    border: 0;    
}
#input-wrap button {
    color: #009bdf;
    background-color: #e9e9e9;
    border: 0;
    font-size: 14px;
    padding: 12px 27px;
}
#contents-wrap {
  width: 100%;
  border-top: 1px solid #e9e9e9;
  position: absolute;
  bottom: 0;
  height: 220px;  
}

#company-wrap, #more-info{    
    width: 65%; 
   font-size: 12.5px;
}
#company-wrap ul {
padding-top: 20px;
    width: 100%;
    height: 50px;
}
#company-wrap ul li {
  padding: 0 20px;
  cursor: pointer;
}
#company-wrap ul li:nth-child(1) {
  padding: 0;
}
.company-logo {
  position: relative;
  width: 65px;
    padding-top: 35px;
    text-align: center;
    line-height: 14px;
}
.company-logo>span:nth-child(1) {
  font-size: 40px;
  font-weight: 600;
  color: #009bdf;
    /*font-family: 'Staatliches', cursive;*/
font-family: 'Roboto Condensed', sans-serif;
}
.company-logo>span:nth-child(3) {
font-size: 13px;
  font-weight: 600;
  color: gray;
  text-align: justify;
    /*font-family: 'Staatliches', cursive;*/
font-family: 'Roboto Condensed', sans-serif;
}
#company-info {
  position: relative;
    width: 500px;
    height: 500px;  
    left: 50px; 

  line-height: 26px;
}
#company-info span {
  padding: 0 19px;
}
#more-info {
  right: 0; 
  width: 35%;
}
#number-wrap {
padding-top: 20px;
    width: 100%;
    height: 120px;
}
#number-wrap>span {
  position: relative;
  width: 100%;
  height: 30px;
}
#number-wrap>div{
    position: relative; 
    height: 55px; 
    line-height: 26px;;
}
#number-wrap>div>span:nth-child(2) {
  padding-left: 20px;
}
#number-wrap>div>span:nth-child(5) {
  padding-left: 38px;
}
#number-wrap strong {
  padding-left: 20px;
}
#select-wrap select {
  width: 160px;
    height: 30px;
    border: 1px solid gray;
    outline: none;
    cursor: pointer;
}
#select-wrap select:nth-child(2) {
  margin-left: 5px;
}